
.infos_container{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerTechs {
    height: 100%;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .containerSocialMedia {
    margin: 30px 0;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .titleSocialMedia {
      color: #fff;
    }
  
    .containerIcons {
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin-top: 10px;
  
      .iconLink {
        display: inline-block;
      }

      .iconLink:hover {
        scale: 1.1
      }
    }
  }
  